<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{fname}}</title>
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='user_home.css')}}" rel="stylesheet">
	<style>
		.blog_form{
			margin-top: 5vh;
			border-radius: 2%;
			box-shadow: 4px 4px 3px rgb(220,220,220);
			padding: 1vh;
			width: 90vw;
		}
	</style>
</head>
<body>
	{% extends 'flesh_temp.html' %}
	{% block body %}
	<div class="container">
		
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
	</div>
	<div>
		<nav class="py-2 bg-light border-bottom">
			<div class="container d-flex flex-wrap">
			  <ul class="nav me-auto">
				<li class="nav-item"><a href="{{url_for('user_home_page', user_id= user_id)}}" class="nav-link link-dark px-2 active" aria-current="page"><img src="{{url_for('static', filename='img/blog_lite_logo.png')}}" style="width: 2vw; height: 3vh;"/></a></li>
				<li class="nav-item"><a href="{{url_for('user_home_page', user_id= user_id)}}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
			  </ul>
			  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="get" action="{{url_for('search', user_id=user_id)}}">
				<ul class="nav">
				<li><input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="search"></li>
				<li><button class="btn btn-secondary nav-item" action="submit">search</button></li>
				</ul>
			  </form>
			  <ul class="nav">
				<li class="nav-item"><a href="{{url_for('user_profile', user_id= user_id)}}" class="nav-link link-dark px-2">Profile</a></li>
				<li class="nav-item"><a href="{{url_for('signout', user_id = user_id)}}" class="nav-link link-dark px-2">Logout</a></li>
			  </ul>
			</div>
		  </nav>
	</div>
	<!-- <div class="container blog_container">
		<h1>Create Post</h1>
		<div class="container">
        	<form id="post_create_form" enctype="multipart/form-data" action="{{url_for('create_post', user_id=user_id)}}" method="post">
				title: {{user_id}} Here
				<input type="text" placeholder="Post Title" name = "title">
				post_containt:
				<input type="text" placeholder="Post caption" name = "caption">
				image:
				<input type="file" name="image">
				<button type="submit">Submit</button>
			</form>
		</div>
	</div> -->

	<div class="container blog_form" style="background: white;">
		<form enctype="multipart/form-data" action="{{url_for('create_post', user_id=user_id)}}" method="post">
			<div class="form-group">
			  <label for="exampleFormControlInput1">Email address</label>
			  <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user_id}}" disabled name="user_id">
			</div>
			<div class="form-group">
			  <label for="exampleFormControlSelect1">Post Title</label><br>
			  <input type="text" placeholder="Post Title" name = "title" class="form-control" name="title" required>
			</div>
			<div class="form-group">
			  <label for="exampleFormControlSelect2"></label>
			</div>

			  <label for="exampleFormControlTextarea1">Post Containt</label>
			  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="caption" placeholder="write something here"></textarea>

			<input type="file" name="image">
			<button type="submit" class="btn btn-primary" action="submit">Submit</button>
		  </form>
	</div>
	{% endblock %}
</body>
</html>