<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Uesr SignUp</title>
	<link rel="stylesheet" href="./css/common.css">
</head>
<body>
	<div class="container" id="header">
		<div class="container" id="header_heading">
			<h1 id="header_heading">Blog_Lite</h1>
		</div>
	</div>
	<div class="container_main" id="center_body">
	<!-- <div class="side_container" id="navigation_division"> -->
		<nav id="side_nav" class="side_container">
			<div class="profile_data">
				<!-- <p>Here one picture will come</p> -->
				<div id="image_area">
				</div>
			</div>
				<a href="login.html">Login</a>
			
			
				<a href="user_home.html">user_home</a>
			
			
				<a href="#">Logout</a>
			
		</nav>
	<!-- </div> -->
	<div class></div>
		<form method="post" action="/user/signup">
			<strong>userId</strong><input id="user_id" type="string" name="user_id"><br>
			<strong>password</strong><input id="password" type="string" name="password"><br>
			<strong>fname</strong><input id="password" type="string" name="fname"><br>
			<strong>lname</strong><input id="password" type="string" name="lname"><br>
			<strong>city</strong><input id="password" type="string" name="city"><br>
			<strong>dob</strong><input id="dob" type="date" name="dob">
			<strong>profession</strong><input id="password" type="string" name="profession"><br>
			<button>Submit</button>
		</form>

	</div>

	<div class="main_container" id="post_content">
		<div>
			<p>Here all content will come here</p>
		</div>
	</div>


</div>


	</div>
</body>
</html>