<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{fname}}</title>
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='user_home.css')}}" rel="stylesheet">
</head>
<style>
	.post_create_button{
		position: fixed;
		bottom: 1vh;
		left: 85vw;
		border-radius: 50%;
	}
	#post_description{
		text-align: left;
		margin-left: 13%;
	}
	#post_user_id{
		text-decoration: none;
	}
	.post_user_id{
		text-align: left;
		margin-left: 15%;
		margin-top: 1vh;
		margin-bottom: 1vh;;
	}
	#like:hover{
		background: lightblue;
	}
	#flag:hover{
		background: lightblue;
	}
</style>
<script src="{{url_for('static', filename='js/like_api_call.js')}}"></script>
<body>
	<!-- TODO: Introduce flashes -->
	<!-- {# <div class="container flash_msg">
		{% with messages = get_flash_messages() %}
			{% if messages %} 
				<ul class="flasher">
					{% for message in messages %} 
						<li>{{message}}</li>
						{% endfor %} 
				</ul>
			{% endif %}
		{% endwith %}
		{% block body %}{% endblock %}
	</div> #} -->
	<div>
		<nav class="py-2 bg-light border-bottom">
			<div class="container d-flex flex-wrap">
			  <ul class="nav me-auto">
				<li class="nav-item"><a href="{{url_for('user_home_page', user_id= user_id)}}" class="nav-link link-dark px-2 active" aria-current="page"><img src="{{url_for('static', filename='img/blog_lite_logo.png')}}" style="width: 2vw; height: 3vh;"/></a></li>
				<li class="nav-item"><a href="{{url_for('user_home_page', user_id= user_id)}}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
			  </ul>
			  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
				<ul class="nav">
				<li><input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="search"></li>
				<li><button class="btn btn-secondary nav-item" action="submit">search</button></li>
				</ul>
			  </form>
			  <ul class="nav">
				<li class="nav-item"><a href="{{url_for('user_profile', user_id= user_id)}}" class="nav-link link-dark px-2">Profile</a></li>
				<li class="nav-item"><a href="{{url_for('signout', user_id = user_id)}}" class="nav-link link-dark px-2">Logout</a></li>
			  </ul>
			</div>
		  </nav>
	</div>
	<div class="container blog_container">
		<h1>Dashboard</h1>
		<div class="container image_post">
			<div class="container post_user_id">
				<a href="#" id="post_user_id"><h3>User_id</h3></a>
			</div>
			<div class="container">
				<img src="{{url_for('static', filename='resources/img/12.png')}}" alt="main_image" id="post_img">
			</div>
			<div class="container">
				<h3 id="title">test sample image</h3>
				<p id="post_description">Here Post description will appear</p>
			</div>
			<div class="container like_flag_container">
				<div class="container">
					<a href="#" onclick="add_like(this); return false" value = "Something" ><img src="{{url_for('static', filename='icons/star.svg')}}" alt="like" id="like" class="interaction_marker"></a>
				</div>
				<div class="contianer">
					<a href= "#" ><img src="{{url_for('static', filename='icons/flag.svg')}}" alt="flag" id="flag" class="interaction_marker"></a>
				</div>
			</div>
			<div class="container post_comment_box">
				<div class="container header_title">
					<h6 id="minor_heading">Comments: -</h6>
				</div>
				<div class="container comment_content">
					<div class="container single_comment">
						<div class="container">
							<strong>user_id</strong>
						</div>
						<div class="condainer">
							comment_1
						</div>
					</div>
					<div class="container single_comment">
						<div class="container">
							<strong>user_id</strong>
						</div>
						<div class="condainer">
							comment_2
						</div>
					</div>
					<div class="container single_comment">
						<div class="container">
							<strong>user_id</strong>
						</div>
						<div class="condainer">
							comment_3
						</div>
					</div>
					<div class="container single_comment">
						<div class="container">
							<strong>user_id</strong>
						</div>
						<div class="condainer">
							comment_1
						</div>
					</div>
					<div class="container single_comment">
						<div class="container">
							<strong>{{user_id}}</strong>
						</div>
						<div class="container">
							<form method="post" action="{{url_for('add_post_comment', user_id=user_id, post_id= 123)}}" > <!-- TODO: write here-->
								<input type="text" placeholder="Write your comment here...." name="content" required>
								<button type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container post_create_button">
		<a href="{{url_for('create_post', user_id= user_id)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create Post</a>
	</div>
</body>
</html>